[user]
    name = Jackie Mueller
    email = <email>
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[color]
    ui = true
[push]
    autoSetupRemote = true
